html, body {
    height: 100%;
    min-height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;

}

.switcher-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 400px;
    height: 350px;
    min-height: 192px;
    background-color: #fff;
    opacity: 0.95;
    display: none;
    z-index: 3;
}

.input-wrapper {
    margin-bottom: 15px;
}

.js_panel .input-wrapper > label {
    display: block;
    font-size: 13px;
}

.input-wrapper > input[type="text"] {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    display: block;
    text-indent: 3px;
    box-sizing: border-box;
    margin-top: 2px;
    border: 1px solid #bcbcbc;
}

.input-wrapper > input[type="text"]::-webkit-input-placeholder {
    color: #d3d3d3;
}

.input-wrapper > input[type="text"]::-moz-placeholder {
    color: #d3d3d3;
}

.input-wrapper > input[type="text"]:-ms-input-placeholder {
    color: #d3d3d3;
}

.input-wrapper > textarea {
    font-size: 12px;
    padding: 5px;
    display: block;
    margin: 0;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 226px;
    resize: none;
}

.switcher-panel-nav {
    position: fixed;
    bottom: 9px;
    left: 22px;
    z-index: 5;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.switcher-panel > input[type="button"] {
    cursor: pointer;
    float: right;
    padding: 8px 28px;
    font-size: 16px;
    color: #fff;
    background-color: #1099EC;
    outline: none;
    width: 105px;
}

.cancel-btn {
    background-color: transparent !important;;
    color: black !important;;
    border: none;
    margin-right: 30px;
}

.switcher-panel > input[type="button"]:hover {
    opacity: 0.9;
}

.switcher-panel-nav > svg,
.code-copy-nav > svg,
.code-docs > svg {
    fill: black;
}

.switcher-panel-nav:hover > svg,
.code-copy-nav:hover > svg,
.code-docs:hover > svg {
    fill: #292929;
}

.switcher-panel-nav.with-error > svg {
    fill: #ea1212;
}

.code-copy-nav {
    position: fixed;
    bottom: 10px;
    left: 65px;
    z-index: 5;
    width: 40px;
    height: 34px;
    cursor: pointer;
}

.code-copy-nav > svg {
    height: 40px;
    width: 40px;
}

.code-docs {
    position: fixed;
    bottom: 9px;
    left: 117px;
    z-index: 5;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.code-docs > svg {
    height: 30px;
    width: 30px;
}

.img-wrapper {
    margin: 0 auto;
}

.note-txt {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.panel-header {
    font-size: 20px;
    margin-top: 0;
    font-weight: 500;
}

.active path {
    fill: #1099EC;
}